<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extra/spring-security">

<html>
<head>
    <meta charset="utf-8"/>
    <title>粒子动画背景</title>
    <link rel="stylesheet" media="screen" href="../../static/lizi/css/lizi.css"/>
</head>

<body>
<a href="https://blog.csdn.net/Zhangxg0206" > dsa</a>
<div id="particles-js">
    <canvas class="particles-js-canvas-el"></canvas>
</div>
<script src="../../static/lizi/js/lizi.js"></script>
</body>
</html>

