.post-header{
    background: #f1f1f1;
    border-radius: 5px;
    margin-top: 16px;
}
.post-title{
    font-weight: bold;

}
.post-data{
    padding: 10px 0 5px 30px;
}

.post-author{
    font-style: normal;
    font-size: large;
}
.post-space{
    padding-left: 20px;
}
.post-style{
    color: #6a6a6a;
    font-style: normal;
    font-size: 15px;
}

.label-style{
    background: #ffffff;
    /*border-color: #8b8b8b;*/
    border: #8b8b8b 1px solid;
    border-radius: 2px;
    margin-left: 10px ;
    color: #0c7cd5;
}


.author-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.author-name{
    margin-left: 20px;
    margin-top:5px;
}

.author-item{
    /*background: #00c4ff;*/
    margin-top: 20px;
}
.author-info{
    width: 26%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.article-op{
    width:100%;
    height:50px;
    background: #dbdbdb;
    margin-top: -25px;
    border-radius: 2px;
    color: #898989;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    /*align-content: center;*/
}

.op-a{
    /*width:80px;*/
    margin-left: 30px;
    height:20px;
    margin-top: 15px;
    font-size: 15px;
    /*background: #68ff76;*/
}

.comment-content{
    /*margin-top: 30px;*/
    width: 80%;
    border-radius: 5px;
    height: 50px;
}


.pub-comment{
    border-radius: 8px;
    margin-left: 5%;
    height: 50px;
    width: 15%;
    background: #c7c7c7;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;

    line-height: 50px;

}

.comment-item{
    /*height:40px;*/
    /*margin-top:10px;*/
    border-bottom: 1px solid #dee2e6;
    height: 50px;
    line-height: 50px;

}
.comment-name{
    color: #747474;
    margin-left: 20px;
    font-size: 14px;


}
.comment-text{
    color: #323232;
    margin-left: 10px;
    font-size: 14px;

}
