.setting-item1{

}
.setting-img{
    width: 100px;
    height:100px;
    border-radius: 50px;
}

.setting-name{
    font-size: 25px;
    font-weight: bold;

}
.setting-item11{
    margin-left: 30px;
    margin-top: 20px;
}