<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extra/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="shortcut icon" th:href="@{/static/blog/img/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/blog/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/blog/css/global.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/blog/css/article.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/static/editormd/css/editormd.preview.css}"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
    <!--    <link rel="stylesheet" type="text/css" media="screen"  th:href="@{/static/lizi/css/lizi.css}"/>-->
    <!--    <link rel="stylesheet" media="screen" th:href="@{/static/lizi/css/lizi.css}"/>-->
    <link rel="stylesheet" media="screen" href="../../../static/lizi/css/lizi.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        .editormd-html-preview {
            width: 90%;
            margin: 0 auto;
        }
    </style>
    <title th:text="${article.articleName}"></title>
</head>
<body>
<div class="nk-container">
    <!-- 头部 -->
    <header class="bg-dark sticky-top" th:replace="/view/index::header"></header>

    <!-- 内容 -->
    <div class="main" style="width:80%;margin-left: 10%;z-index:100;">
        <div class="layui-row layui-col-space30">
            <div class="layui-col-md3">
                <div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3" style="width:100%;">
                    <div class="row">
                        <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2496571732,442429806&fm=26&gp=0.jpg"
                             class="author-img"/>
                        <div class="author-name column">
                            <span th:text="${author.userName}" style="font-size: 16px;"></span>
                            <time th:datetime="${#dates.format(author.createTime,'yyyy-MM-dd')}"
                                  itemprop="datePublished"
                                  th:text="'注册于:&nbsp;'+${#dates.format(author.createTime,'yyyy-MM-dd')}"
                                  style="color: #868686;margin-top:5px;"></time>
                        </div>

                    </div>
                    <br/>
                    <div class="row author-item">
                        <div class="column author-info"><span>20</span><span>原创</span></div>
                        <div class="column author-info" style="margin-left: 11%;"><span>20</span><span>访问</span></div>
                        <div class="column author-info" style="margin-left: 11%;"><span>20</span><span>积分</span></div>
                    </div>
                    <div class="row author-item">
                        <div class="column author-info"><span>20</span><span>关注</span></div>
                        <div class="column author-info" style="margin-left: 11%;"><span>20</span><span>粉丝</span></div>
                        <div class="column author-info" style="margin-left: 11%;"><span>20</span><span>收藏</span></div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md9">
                <div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3" style="width:100%;">
                    <div>
                        <h1 class="post-title" th:text="${article.articleName}"></h1>
                    </div>
                    <div class="post-header">
                        <div class="post-data">
                            <span class="post-author" th:text="${author.userName}"></span>
                            <time th:datetime="${#dates.format(article.createTime,'yyyy-MM-dd HH:mm:ss')}"
                                  itemprop="datePublished" class="post-space"
                                  th:text="${#dates.format(article.createTime,'yyyy-MM-dd HH:mm:ss')}"
                                  style="color: #868686;"></time>
                            <i class="fa fa-eye fa-lg post-style post-space"></i> <span
                                th:text="'&nbsp;'+${article.pageView}" class="post-style"></span>
                            <i class="fa fa-star-half-full fa-lg post-style post-space"></i><span id="collection"
                                                                                                  class="post-style">&nbsp;收藏</span>
                            <i class="fa fa-pencil-square fa-lg post-style post-space" style="color: #0c7cd5;"></i><span
                                id="edit" class="post-style" style="color: #0c7cd5;">&nbsp;编辑</span>
                        </div>
                        <div class="post-data">
                            <i class="fa fa-tag fa-lg post-style"></i> <span class="post-style">文章标签:&nbsp;</span>
                            <span th:each="label : ${article.labelList}" th:text="'&nbsp;'+${label}+'&nbsp;'"
                                  class="label-style"></span>
                        </div>
                    </div>
                    <div id="test-editormd-view2">
                        <textarea id="append-test" style="display:none;" th:text="${article.text}">
                        </textarea>
                    </div>
                </div>
            </div>

        </div>


    </div>


    <!-- 尾部 -->
    <footer class="bg-dark" th:replace="/view/index::footer"></footer>
    <div id="particles-js">
        <canvas class="particles-js-canvas-el" style="pointer-events: none;"></canvas>
    </div>
    <script src="../../../static/lizi/js/lizi.js"></script>

</div>
<script th:src="@{/static/blog/js/jquery-3.1.0.min.js}"></script>
<script th:src="@{/static/blog/js/popper.min.js}"></script>
<script th:src="@{/static/blog/js/bootstrap.min.js}"></script>
<script th:src="@{/static/blog/js/global.js}"></script>

<!--<script src="js/jquery.min.js"></script>-->
<script th:src="@{/static/editormd/lib/marked.min.js}"></script>
<script th:src="@{/static/editormd/lib/prettify.min.js}"></script>

<script th:src="@{/static/editormd/lib/raphael.min.js}"></script>
<script th:src="@{/static/editormd/lib/underscore.min.js}"></script>
<script th:src="@{/static/editormd/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/static/editormd/lib/flowchart.min.js}"></script>
<script th:src="@{/static/editormd/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{/static/editormd/editormd.js}"></script>
<script type="text/javascript">
    $(function () {
        var testEditormdView, testEditormdView2;

        // $.get("test.md", function(markdown) {
        //
        //     testEditormdView = editormd.markdownToHTML("test-editormd-view", {
        //         markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
        //         //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
        //         htmlDecode      : "style,script,iframe",  // you can filter tags decode
        //         //toc             : false,
        //         tocm            : true,    // Using [TOCM]
        //         //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
        //         //gfm             : false,
        //         //tocDropdown     : true,
        //         // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
        //         emoji           : true,
        //         taskList        : true,
        //         tex             : true,  // 默认不解析
        //         flowChart       : true,  // 默认不解析
        //         sequenceDiagram : true,  // 默认不解析
        //     });
        //
        //     console.log("返回一个 jQuery 实例 =>", testEditormdView);
        //
        //     获取Markdown源码
        //     console.log(testEditormdView.getMarkdown());
        //
        //     alert(testEditormdView.getMarkdown());
        // });

        testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        });
    });
</script>
<style>#cnzz_stat_icon_1254310986 {
    display: none;
}</style>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan id='cnzz_stat_icon_1254310986'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D1254310986%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>


<!--<script th:src="@{/static/markdown/markdown.js}"></script>-->
<!--<script type="text/javascript">-->
<!--    function Editor(input, preview) {-->
<!--        console.log(input.value)-->
<!--        this.update = function () {-->
<!--            preview.innerHTML = markdown.toHTML(input.value);-->
<!--        };-->
<!--        input.editor = this;-->
<!--        this.update();-->
<!--    }-->

<!--    var $ = function (id) {-->
<!--        return document.getElementById(id);-->
<!--    };-->
<!--    new Editor($("text-input"), $("preview"));-->
<!--</script>-->
</body>
</html>
