<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xaut.blog.dao.ArticleDao">

    <!--int insert(Article article);-->
    <insert id="insert" parameterType="com.xaut.blog.entity.Article" useGeneratedKeys="true" keyColumn="article_id">
        INSERT INTO blog_article(article_name, owner_user_id, page_view, label, text, state, create_time,
                                 last_edit_time)
        VALUES (#{articleName}, #{ownerUserId}, #{pageView}, #{label}, #{text}, #{state}, #{createTime},
                #{lastEditTime})
    </insert>

    <!--int update(Article article);-->
    <update id="update" parameterType="com.xaut.blog.entity.Article">
        UPDATE blog_article
        <set>
            <if test="articleName != null">article_name = #{articleName},</if>
            <if test="ownerUserId != null">owner_user_id = #{ownerUserId},</if>
            <if test="pageView != null">page_view = #{pageView},</if>
            <if test="label != null">label = #{label},</if>
            <if test="text != null">text = #{text},</if>
            <if test="state != null">state = #{state},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="lastEditTime != null">last_edit_time = #{lastEditTime}</if>
        </set>
        WHERE
        article_id = #{articleId}
    </update>

    <!--int delete(Long articleId);-->
    <delete id="delete" parameterType="long">
        DELETE
        FROM blog_article
        WHERE article_id = #{articleId}
    </delete>


    <!--Article getById(Long articleId);-->
    <select id="getById" parameterType="long" resultType="com.xaut.blog.entity.Article">
        SELECT *
        FROM blog_article
        WHERE article_id = #{articleId}
    </select>

    <!--List<Article> getByName(String articleName);-->
    <select id="getByName" parameterType="string" resultType="com.xaut.blog.entity.Article">
        SELECT *
        FROM blog_article
        WHERE article_name like '%${articleName}%'
    </select>

    <!--List<Article> getByLabel(List<String> articleIdList);-->
    <select id="getByLabel" parameterType="java.util.List" resultType="com.xaut.blog.entity.Article">
        SELECT * FROM blog_article
        WHERE 1 = 1
        <if test="articleIdList != null">
            <foreach collection="articleIdList" item="key" open="AND (" close=")" separator="or" >
                label like '%${key}%'
            </foreach>

        </if>

    </select>

</mapper>