<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xaut.blog.dao.CareDao">

    <!--    int fans(Long userId);-->
    <select id="fans" resultType="integer" parameterType="long">
        SELECT COUNT(care_id)
        FROM blog_care
        WHERE user_id = #{userId}
    </select>


    <!--    int cares(Long fanId);-->
    <select id="cares" resultType="integer" parameterType="long">
        SELECT COUNT(care_id)
        FROM blog_care
        WHERE fan_id = #{fanId}
    </select>

    <!--    int insert(Long userId,Long fanId);-->
    <insert id="insert" parameterType="long" useGeneratedKeys="true" keyProperty="careId" keyColumn="care_id">
        INSERT INTO blog_care(user_id, fan_id)
        VALUES (#{param1}, #{param2})
    </insert>

    <!--    int delete(Long userId,Long fanId);-->
    <delete id="delete" parameterType="long">
        DELETE
        FROM blog_care
        WHERE user_id = #{param1}
          AND fan_id = #{param2}
    </delete>

    <!--    int get(Long userId,Long fanId);-->
    <select id="get" parameterType="long" resultType="long">
        SELECT care_id
        FROM blog_care
        WHERE user_id = #{param1}
          AND fan_id = #{param2}
    </select>
</mapper>