<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xaut.blog.dao.CollectionDao">

    <!--int insert(Collection collection);-->
    <insert id="insert" parameterType="com.xaut.blog.entity.Collection" useGeneratedKeys="true"
            keyProperty="collectionId"
            keyColumn="collection_id">
        INSERT INTO blog_collection(owner_user_id, owner_article_id)
        VALUES (#{ownerUserId}, #{ownerArticleId})
    </insert>


    <!--int delete(Long collectionId);-->
    <delete id="delete" parameterType="long">
        DELETE
        FROM blog_collection
        WHERE collection_id = #{collectionId}
    </delete>

    <!--int getCollectionList(Long ownerUserId);-->
    <select id="getCollectionList" parameterType="long" resultType="com.xaut.blog.entity.Collection">
        SELECT *
        FROM blog_collection
        WHERE owner_user_id = #{ownerUserId}
    </select>

    <!-- int getCountByUser(Long ownerUserId); -->
    <select id="getCountByUser" resultType="int" parameterType="long">
        SELECT count(collection_id)
        FROM blog_collection
        WHERE owner_user_id = #{ownerUserId}
    </select>

</mapper>